@import "./normalize.css";
@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(23, 27, 9);
  --dark-background: rgb(42, 46, 28);
  --lightBackground: rgb(35, 39, 21);
  --grayBackground: rgb(38, 38, 38);
  --purpleBackground: rgb(133, 79, 255);
  --primary: rgb(255, 255, 255);
  --secondary: rgb(0, 0, 0);
  --lightGreen: rgb(184, 246, 33);
  --successfulGreen: rgb(134, 198, 87);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  color: var(--primary);
  background: var(--background);
  font-family: Roboto, Arial, sans-serif;
}
