@import "./normalize.css";
@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(23, 27, 9);
  --lightBackground: rgb(235, 235, 234);
  --primary: rgb(55, 55, 55);
  --secondary: rgb(200, 200, 200);
  --green: rgb(134, 198, 87);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  color: var(--primary);
  background: var(--background);
  font-family: Roboto, Arial, sans-serif;
}

a {
  color: var(--green);
}
